#vectordialog
  %table.vectorselector
    %tr.top
      %td
      %td{colspan: 3}
        %button.n N
      %td
    %tr.middle.upper
      %td
        %button.nw NW
      %td.label.left
        +1
      %td.label.centre
        +2
      %td.label.right
        +3
      %td
        %button.ne NE
    %tr.middle.lower
      %td
        %button.sw SW
      %td.label.left
        +1
      %td.label.centre
        +2
      %td.label.right
        +3
      %td
        %button.se SE
    %tr.bottom
      %td
      %td{colspan: 3}
        %button.s S
      %td
