body {
  font-family: sans-serif;
}

#toolbar {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  padding: 0.2em;
  border-radius: 0.2em;
}

/* Based on https://stackoverflow.com/questions/10062887/generate-repeating-hexagonal-pattern-with-css3
*/

/* cell size */

#gameboard {
  margin-top: 1.3em; /* 1.12 + bit more */
}

.hexrow { /* cell spacing */
  /*right/left margin set at (( width of child div x sin(30) ) / 2) makes a fairly tight fit; a 3px bottom seems to match*/
  margin: 0 0.3em 0.14em; 
}

.hexrow > div {
  width: 2.5em;
  height: 4.33em; /* ( width x cos(30) ) x 2 */
  /* For margin:
  right/left = ( width x sin(30) ) makes no overlap 
  right/left = (( width x sin(30) ) / 2.4) leaves a narrow separation
  */
  margin: 0 0.53em;
  line-height: 4.33em; /*equals height*/
}

.hexrow > div:nth-child(odd) {
  top: 0.902em; /* ( width x cos(30) / 2.4 ) */
}

.hexrow > div:nth-child(even) {
  top: -1.32em; /* -1 x( ( width x cos(30) / 2) + (hexrow bottom margin / 2)) */ 
}

.hexrow > div > .leftwing:before {
  width: 5em; /* width of main + margin sizing */
  -ms-transform:rotate(-60deg) translate(-3.75em, 0); /* IE 9 */
  -moz-transform:rotate(-60deg) translate(-3.75em, 0); /* Firefox */
  -webkit-transform:rotate(-60deg) translate(-3.75em, 0); /* Safari and Chrome */
  -o-transform:rotate(-60deg) translate(-3.75em, 0); /* Opera */
  transform:rotate(-60deg) translate(-3.75em, 0);
}

.hexrow > div > .rightwing:before {
  width: 5em; /* starting width + margin sizing */
  /*translate properties are initial width (10em) and half height (173.2 / 2 = 86.6) */
  -ms-transform:rotate(60deg) translate(5em, 2.165em); /* IE 9 */
  -moz-transform:rotate(60deg) translate(5em, 2.165em); /* Firefox */
  -webkit-transform:rotate(60deg) translate(5em, 2.165em); /* Safari and Chrome */
  -o-transform:rotate(60deg) translate(5em, 2.165em); /* Opera */
  transform:rotate(60deg) translate(5em, 2.165em);
}

.hexrow > div > span {
  margin: 0 -1em;
  font-size: 60%;
}

/* cell layout */

.hexrow {
  white-space: nowrap;
}

.hexrow > div {
  position: relative;
  text-align: center;
  display: inline-block;
}

.hexrow > div > .leftwing {
  position: absolute;
  width: 100%;
  height: 100%; 
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  background: inherit;
  
  -ms-transform:rotate(60deg); /* IE 9 */
  -moz-transform:rotate(60deg); /* Firefox */
  -webkit-transform:rotate(60deg); /* Safari and Chrome */
  -o-transform:rotate(60deg); /* Opera */
  transform:rotate(60deg);
}

.hexrow > div > .leftwing:before {
  content: '';
  position: absolute;
  height: 100%;
  background: inherit;
  bottom: 0;
  left: 0;
  z-index: 1;
  
  -ms-transform-origin: 0 0; /* IE 9 */
  -webkit-transform-origin: 0 0; /* Safari and Chrome */
  -moz-transform-origin: 0 0; /* Firefox */
  -o-transform-origin: 0 0; /* Opera */
  transform-origin: 0 0;
}

.hexrow > div > .rightwing {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  overflow: hidden;
  background: inherit;
  
  -ms-transform:rotate(-60deg); /* IE 9 */
  -moz-transform:rotate(-60deg); /* Firefox */
  -webkit-transform:rotate(-60deg); /* Safari and Chrome */
  -o-transform:rotate(-60deg); /* Opera */
  transform:rotate(-60deg);
}

.hexrow > div > .rightwing:before {
  content: '';
  position: absolute;
  height: 100%;
  background-image: inherit;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: auto 120%;
  bottom: 0;
  left: 0;
  z-index: 1;
  
  -ms-transform-origin: 100% 0; /* IE 9 */
  -webkit-transform-origin: 100% 0; /* Safari and Chrome */
  -moz-transform-origin: 100% 0; /* Firefox */
  -o-transform-origin: 100% 0; /* Opera */
  transform-origin: 100% 0;
}

.hexrow > div > span {
  display: inline-block;
  line-height: 1.1;
  vertical-align: middle;
  white-space: normal; 
}

/* board details */

.hexrow > div > .coordinates {
  vertical-align: bottom;
  cursor: default;
}

/* units' shape */

.hexrow .unit {
  display: inline-block;
  margin: 0.1em 0;
  padding: 0.1em;
  border-radius: 5px;
  cursor: crosshair;
}

.hexrow .unit .coordinates {
  display: block;
  font-size: 80%;
}

/* colours */

body {
  background-color: #a00;
  color: #eee;
}

#toolbar {
  background: #f50;
}

.hexrow > div {
  background-color: #000;
}

.hexrow div:hover, .hexrow div:hover > div, #a1 > div:hover { /* hover highlight */
  background-color: #113;
}

.hexrow > div > .coordinates {
  color: #444;
}

.hexrow > div:hover > .coordinates {
  color: #ddd;
}

.hexrow .unit {
  background: #000;
  color: #0f0;
  border: solid 1px #040;
}

.hexrow .unit .coordinates {
  color: #ff0;
}

/* vector dialog */

#vectordialog {
  display: none;
}

#vectordialog .vectorselector tr.middle {
  height: 3em;
  vertical-align: middle;
}

#vectordialog .vectorselector button {
  width: 3em;
}

#vectordialog .nw,
#vectordialog .ne {
  margin-bottom: 0.5em;
}

#vectordialog .sw,
#vectordialog .se {
  margin-top: 0.5em;
}

#vectordialog .nw,
#vectordialog .se {
  -ms-transform:rotate(-60deg); /* IE 9 */
  -moz-transform:rotate(-60deg); /* Firefox */
  -webkit-transform:rotate(-60deg); /* Safari and Chrome */
  -o-transform:rotate(-60deg); /* Opera */
  transform:rotate(-60deg);
}

#vectordialog .ne,
#vectordialog .sw {
  -ms-transform:rotate(60deg); /* IE 9 */
  -moz-transform:rotate(60deg); /* Firefox */
  -webkit-transform:rotate(60deg); /* Safari and Chrome */
  -o-transform:rotate(60deg); /* Opera */
  transform:rotate(60deg);
}
