#vectordialog {
  display: none;
}

.ui-widget {
  font-size: 1em;
}

#vectordialog td {
  text-align: center;
}

#vectordialog .vectorselector .middle.upper .centre {
  vertical-align: top;
}

#vectordialog .vectorselector .middle.lower .centre {
  vertical-align: bottom;
}

#vectordialog .vectorselector .left {
  text-align: left;
}

#vectordialog .vectorselector .centre {
  text-align: center;
}

#vectordialog .vectorselector .right {
  text-align: right;
}

#vectordialog .vectorselector .middle {
  height: 4em;
  vertical-align: middle;
}

#vectordialog .vectorselector button {
  width: 4em;
}

#vectordialog .nw,
#vectordialog .ne {
  margin-bottom: 0.5em;
}

#vectordialog .sw,
#vectordialog .se {
  margin-top: 0.5em;
}

#vectordialog button.nw,
#vectordialog button.se {
  -ms-transform:rotate(-60deg); /* IE 9 */
  -moz-transform:rotate(-60deg); /* Firefox */
  -webkit-transform:rotate(-60deg); /* Safari and Chrome */
  -o-transform:rotate(-60deg); /* Opera */
  transform:rotate(-60deg);
}

#vectordialog button.ne,
#vectordialog button.sw {
  -ms-transform:rotate(60deg); /* IE 9 */
  -moz-transform:rotate(60deg); /* Firefox */
  -webkit-transform:rotate(60deg); /* Safari and Chrome */
  -o-transform:rotate(60deg); /* Opera */
  transform:rotate(60deg);
}
